#banner
		.banner_content
				%h1 MewfNote
				%p A Kewl Online Notebook
				%button= link_to "Sign Up", new_user_registration_path

#testimonial
		.wrapper
				%p.quote   "One Kewl Mewfy App"
				%p.name - Jingie

#callouts
		.callout_inner
				.wrapper
						.callout
								%i.fa.fa-user-circle
								%h2 Notes
								%p Meow Meow Meow Mew Grrr Mew Meow !
						.callout
								%i.fa.fa-bell-o
								%h2 Notes
								%p Meow Meow Meow Mew Grrr Mew Meow !!
						.callout
								%i.fa.fa-bullseye
								%h2 Notes
								%p Meow Meow Meow Mew Grrr Mew Meow !!

#bottom_cta
		.wrapper
				%h2 C'Mon Kitty..
				%p Paw and sign up or no Temptations for you.
				%button= link_to "Click Me", new_user_registration_path

%footer
		%p &copy; miekomewf